* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #4CF7B0;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 30px 0 30px 0;
    color: #333;
    font-size: 50px;
}

hr {
    background-color: black;
    margin: 10px 35%;
}

.principal {
    text-align: center;
    background-color: #247554;
    margin: 30px 35%;
    padding: 20px 20px;
    border-width: medium;
    border: 3px solid #333;
    border-radius: 3px;
}

.datos {
    margin: 20px 50px;
    font-size: 18px;
}

p {
    text-align: left;
}

input {
    margin: 10px 30px;
}

#boton {
    text-align: center;
    width: 90px;
    height: 50px;
    background-color: #02F590;
}